/* General Styles */
html {
    font-size: 16px;
}

body { 
    margin: 0;
    background-color: #012030;
    font-family: 'EB Garamond', Times, serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 0px;
    height: auto;
    background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Navigation Styles */
nav {
    text-transform: uppercase;
    opacity: 0.95;
    z-index: 10;
    width: 100vw;
    min-height: 50px;
    background-color: #000F18;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    padding: 12px 45px;
}

nav ul li a {
    color: #FAF0E6;
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-decoration-color: #b6b4b0;
}

nav ul li a:hover {
    text-decoration-thickness: 2px;
    text-decoration-color: lemonchiffon;
    color: lemonchiffon;
}
/* Banner Styles */
#Banner {
    height: 100vh;
    min-height: 500px;
    /*background-image: url();*/
    background: linear-gradient(0deg, rgba(2, 52, 77, 0.4), rgba(2, 52, 77, 0.4)), url('../recources/images/banner_cat_sleep.gif');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#Banner h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 8rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#Banner span {
    font-size: 2.0rem;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 600;
}

/* Arrow Styles */
.arrow {
  display: inline-block;
  position: relative;
  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: 0.8s;
  animation-iteration-count: infinite;
}

/*hr styles*/
hr {
    border: 0;
    height: 1px;
    background: #faf0e6b6;
    margin: 50px auto;
    width: 60%;
}

/*Main Content Styles */
main {
    /*height: 700px;*/
    width: 40vw;
    margin: 2% auto;
    color: #FAF0E6;
    font-size: 1.6rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main h2 {
    text-align: center;
    font-size: 2.5rem;
}

main p {
    text-align: center;
}

main p a {
    color: #FAF0E6;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #b6b4b0;
    text-underline-offset: 2px;
    font-style: italic;
}
main p a:hover {
    text-decoration: none;
    color: lemonchiffon;
}

main .pmbottom {
    margin-bottom: 60px;
}

/*Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form label {
    margin: 10px 0 5px 0;
    font-size: 1.2rem;
    font-weight: bold;
}
form input, form textarea {
    margin: 3% 0 7% 0;
    width: 300px;
    padding: 8px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form textarea {
    height: 100px;
    resize: none;
}
form button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #014050;
    border: 1px solid #014050;
    color: #FAF0E6;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background-color: #042d37;
    border: 1px solid #042d37;
}

/* Footer Styles */
footer {
    background-color: #000F18;
    color: #FAF0E6;
    text-align: center;
    padding: 1%;
    margin-top: 50px;
    font-size: 1.1rem;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #FAF0E6;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #b6b4b0;
    padding-left: 1.4%;
}

footer a:hover {
    text-decoration: none;
    color: lemonchiffon;
}

/*Keyframes */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    top: 0px;
  }
  40% {
    top: -15px;
  }
  60% {
    top: -7px;
  }
}
/*Media Queries */
/* Tablets */
@media only screen and (max-width: 768px) {
    nav ul li {
        margin: 0 1px;
        padding: 6px 5px;
    }
    nav ul li a {
        padding: 12px 15px;
    }    
    nav ul li a:hover {
        color: #FAF0E6;
    }
    /* hat nicht funktioniert
    nav ul li a:hover {
        color: #FAF0E6;
    }
    main p a:hover {
        text-decoration: underline;
        color: #FAF0E6;
    }
    nav ul li a:active {
        color: #FAF0E6;
    }
    main p a:active {
        text-decoration: underline;
        color: #FAF0E6;
    }
    */
    .linkNoDisplay {
        display: none;
    }
    #Banner {
        height: 40vh;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #Banner h1 {
        font-size: 4.3rem;
    }
    #Banner span {
        font-size: 1.5rem;
    }
    .arrow {
        display: none;
    }
    main {
        width: 70vw;
        font-size: 1.5rem;
    }
}

/* Phones */
@media only screen and (max-width: 480px) {
    html, body {
        overflow-x: hidden;
    }
    nav ul li {
        margin: 0 1px;
        padding: 4px 3px;
    }
    nav ul li a {
        padding: 12px 15px;
        font-size: 1rem;
    }
    /* hat nicht funktioniert
    nav ul li a:hover {
        color: #FAF0E6;
    }
    main p a:hover {
        text-decoration: underline;
        color: #FAF0E6;
    }
    nav ul li a:active {
        color: #FAF0E6;
    }
    main p a:active {
        text-decoration: underline;
        color: #FAF0E6;
    }
    */
    .linkNoDisplay {
        display: none;
    }
    #Banner {
        height: 60vh;
        /*background: linear-gradient(0deg, rgba(2, 52, 77, 0.4), rgba(2, 52, 77, 0.4)), url(images/banner_cat_sleep.gif);*/
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #Banner h1 {
        font-size: 3.2rem;
    }
    #Banner span {
        font-size: 1.4rem;
    }
    .arrow {
        display: none;
    }
    main {
        width: 90vw;
        font-size: 1.3rem;
    }
    main h2 {
        font-size: 2rem;
    }
    main p {
        margin-bottom: 60px;
    }
}
