body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Back Link */
.back {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 10;
}
.back a {
  text-decoration: none;
  color: #FAF0E6;
  font-size: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  opacity: 0.8;
}
.back a:hover {
  opacity: 1;
}

/* Campfire Video Background */
.campfireVideo {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -5;
}
/* Campfire Audio */
.campfireAudio {
    position: fixed;
    opacity: 60%;
}

/* Campfire Mute toggle */
.muteButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: 60px;
  height: 60px;
  border: 2px solid #FAF0E6;
  background-color: #014050;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.7;
}

.muteButton:hover {
  opacity: 1;
}

.muteButton.muted {
  background-color: #022730;
}

.muteButton.unmuted {
  background-color: #023441;
}

footer {
  display: none;
}

/*Media Queries */
@media only screen and (max-width: 768px) {

  /*back button adjustment*/
  .back a {
    font-size: 1.5rem;
  }

  /* Campfire Video Background Adjustment */
  .campfireVideo {
    object-position: -430px;
  }

  /* Mute Button Adjustment */
  .muteButton {
    opacity: 0.9;
  }
}
